*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Font NeueMachina */
@font-face {
    font-family:'Neue Machina' ;
    src: url(./assets/fonts/NeueMachina-Regular.otf);
}

body{
    background-image: linear-gradient(to left top, #005bd1, #004faa, #004083, #00315d, #002138, #05283b, #0e2e3e, #183541, #155969, #00818f, #00abaf, #09d6c9);
    color: #ffff;
    height: 100vh; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: contain; 
    margin: 0;
    padding: 0;
}

.main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;

}  

@media only screen and (min-width: 768px) {
    
    .main{
        max-width: 1024px;
        margin: 1rem auto;
        width: 70vw;
    }
    

  }
