* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Font NeueMachina */
@font-face {
    font-family: 'Neue Machina';
    src: url(./assets/fonts/NeueMachina-Regular.otf);
}

body {

    background-image: linear-gradient(to right bottom, #023859, #003f5c, #00455e, #004b5f, #005160, #005160, #005160, #005160, #004b5f, #00455e, #003f5c, #023859);
    color: #ffff;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;

}

@media only screen and (min-width: 768px) {

    .main {
        max-width: 1024px;
        margin: 1rem auto;
        width: 70vw;
    }


}